{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/login/login.css' %}">
    <script defer src="{% static 'accounts/login/login.js' %}"></script>
{% endblock head %}
 
{% block main %}
    <main class="main-content">
        <h1 class="page-title">Sign In to Your Account</h1>
        <form method="post" class="signin-form">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <p class='field_error'>&#x2022; {{ error }}</p>
            {% endfor %}
            <div class="form-group">
                <label for="username">Username</label>
                {{form.login}}
                <div class="error-message" id="username-error">Username must be at least 3 characters</div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                    <div class="password-wrapper">
                        {{form.password}}
                        <button type="button" class="toggle-password" id="toggle-password">Show</button>
                    </div>
                <a href="/accounts/password/reset">Forgot your password?</a>
            </div>

            <label class="Remember">Remember me:</label>
            {{form.remember}}
            
            <button type="submit" class="button btn-primary">Log In</button>

                <div class="login-link">
                    Don't have an account? 
                    <a href="{% url "account_signup" %}">Sign Up</a>
                    </div>

                <div class="social-signin">
                    {% load socialaccount %}
                    <p>Or sign in with</p>
                    <div class="social-buttons">
                        <a class="btn btn-danger" href="{% provider_login_url 'google' method='oauth2' process='login' %}">
                            <img src="https://img.icons8.com/?size=30&id=V5cGWnc9R4xj&format=png&color=000000" alt="">
                        </a>
                        <a href="#" class="social-button">g</a>
                        <a href="#" class="social-button">in</a>
                    </div>
                    </div>
        </form>
    </main>
{% endblock main %}
