{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "accounts/logout/logout.css" %}">
{% endblock head %}

{% block main %}
  <main>
  <!-- Header Section -->
    <form method="post" action="{% url 'account_logout' %}" class="center">

      {% csrf_token %}
      {% for error in form.non_field_errors %}
          <p>&#x2022; {{ error }}</p>
      {% endfor %}
      <h1>Signing Out as <a href="">{{user}}.</a></h1>
      <p>Are you sure you want to sign out?</p>

      <div class="action-buttons">
        <button type="submit" class="button action">Sign out</button>
        <a href="{% url 'home' %}" class="button action">Cancle</a>
      </div>
      
    </form>
  </main>
{% endblock main %}