{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "accounts/password_set/password_set.css" %}">
    <script defer src="{% static "accounts/password_set/password_set.js" %}"></script>
{% endblock head %}

{% block main %}
    <main class="main-content">
        <div class="center">
          <h1 class="page-title">Set New Password</h1>
            <form action="/accounts/password/set/" method='POST' class="form">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <p>&#x2022; {{ error }}</p>
                {% endfor %}
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password-wrapper">
                      {{form.password1}}
                      <button type="button" class="toggle-password" id="toggle-password">Show</button>
                    </div>
                    <div class="password-strength">
                      <div class="password-strength-bar" id="password-strength-bar"></div>
                    </div>
                    <div class="password-strength-text" id="password-strength-text">Password strength</div>
                    <div class="error-message" id="password-error">{{form.password1.error}}</div>
                  </div>
                  
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <div class="password-wrapper">
                      {{form.password2}}
                      <button type="button" class="toggle-password" id="toggle-confirm-password">Show</button>
                    </div>
                    <div class="error-message" id="confirm-password-error">{{form.password2.error}}</div>
                  </div>

                  <div class="form-row" >
                    <button type="submit" class="button btn-primary">Change Password</button>
                    <a href="{% url "dashboard" %}" class="button btn-primary">Cancel</a>
                  </div>
            </form>
        </div>
    </main>
{% endblock main %}