{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "accounts/password_change/password_change.css" %}">
  <script defer src="{% static "accounts/password_change/password_change.js" %}"></script>
{% endblock head %}

{% block main %}
  <main>
  <!-- Header Section -->
    <div class="center">
      <h1>Confirm Email.</h1>
      
      <form action="{% url 'account_change_password' %}" method="post" >
        {% csrf_token %}
        {% for error in form.non_field_errors %}
                <p class='field_error'>&#x2022; {{ error }}</p>
        {% endfor %}

        <div class="form-group">
          <label for="id_oldpassword">Enter your current password:</label>
          <div class="password-wrapper">
            {{form.oldpassword}}
            <button type="button" class="toggle-password" id="toggle-current-password">Show</button>
          </div>
          <div class="error-message" id="confirm-error">{{form.oldpassword.errors}}</div>
        </div>

        <div class="form-group">
          <label for="id_password1">Enter your new password:</label>
          <div class="password-wrapper">
            {{form.password1}}
            <button type="button" class="toggle-password" id="toggle-new-password">Show</button>
          </div>
          <div class="error-message" id="confirm-error">{{form.password1.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_password2">Enter your new password(again):</label>
          <div class="password-wrapper">
            {{form.password2}}
            <button type="button" class="toggle-password" id="toggle-password-again">Show</button>
          </div>
          <div class="error-message" id="confirm-error">{{form.password2.errors}}</div>
        </div>

        <button type="submit" class="submit button">Confirm</button>
        <a href="/accounts/password/reset/">Forgot Password?</a>
      </form>

    </div>
    
  </main>
{% endblock main %}
