{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "accounts/password_reset_done/password_reset_done.css" %}">
{% endblock head %}

{% block main %}
  <main>
  <!-- Header Section -->
    <div class="center">
      <h1>Password Reset.</h1>
      <p>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
      
    </div>
    
  </main>
{% endblock main %}