{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'accounts/password_reset_from_key/password_reset_from_key.css' %}">
  <script defer src="{% static 'accounts/password_reset_from_key/password_reset_from_key.js' %}"></script>
{% endblock head %}

{% block main %}
  <!-- Main Content -->
  <main class="main-content">
    <h1 class="page-title">Change Password</h1>
    
    <form method="post" class="signup-form" id="signup-form" action="/accounts/password/reset/key/a-set-password/">

      {% csrf_token %}
      {% for error in form.non_field_errors %}
          <p>&#x2022; {{ error }}</p>
      {% endfor %}
      {% for error in form.non_field_errors %}
          <p>&#x2022; {{ error }}</p>
      {% endfor %}
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          {{form.password1}}
          <button type="button" class="toggle-password" id="toggle-password">Show</button>
        </div>
        <div class="password-strength">
          <div class="password-strength-bar" id="password-strength-bar"></div>
        </div>
        <div class="password-strength-text" id="password-strength-text">Password strength</div>
        <div class="error-message" id="password-error">{{form.password1.error}}</div>
      </div>
      
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <div class="password-wrapper">
          {{form.password2}}
          <button type="button" class="toggle-password" id="toggle-confirm-password">Show</button>
        </div>
        <div class="error-message" id="confirm-password-error">{{form.password2.error}}</div>
      </div>

      <div class="form-row" >
        <button type="submit" class="button btn-primary">Change Password</button>
        <button form="logout-from-stage" type="submit" class="button btn-primary">Cancel</button>
      </div>
      
      
      
      <div class="social-signup">
        <p>Or log in with</p>
        <div class="social-buttons">
          <a href="#" class="social-button">f</a>
          <a href="#" class="social-button">g</a>
          <a href="#" class="social-button">in</a>
        </div>
      </div>
    </form>

    <form id="logout-from-stage" method="post" action="/accounts/logout/">
      {% csrf_token %}
      <input type="hidden" name="next" value="/accounts/login/">
    </form>
  </main>
  
{% endblock main %}