{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/profile/profile.css' %}">
    <script defer src="{% static 'accounts/profile/profile.js' %}"></script>
{% endblock head %}

{% block main %}
        <main>
            <!-- User Dashboard Section -->
            <section class="dashboard-section">
                <h1 class="section-title">{{user.username}}</h1>

                <form action="{% url "dashboard" %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p>&#x2022; {{ error }}</p>
                    {% endfor %}

                    
                    <div class="profile-container">
                        {% if user.profile_image %}
                            <img
                                src="{{user.profile_image.url}}"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        {% else %}
                            <img src="https://img.icons8.com/office/150/user.png"
                                 alt="user" 
                            />
                        {% endif %}
                        
                        <div class="stats">
                            <p>1k followers</p>
                            <p>100 Notes</p>
                        </div>
                    </div>

                    <div class="center-user-info">
                        <div class="info-group">
                            <div class="info-item">
                                <label for="" class="info-label">First Name</label>
                                {{form.first_name}}
                            </div>

                            <div class="info-item">
                                <label for="" class="info-label">Last Name</label>
                                {{form.last_name}}
                            </div>

                            <div class="info-item">
                                <label for="" class="info-label">User Name</label>
                                {{form.username}}
                            </div>

                            <div class="info-item">
                                <label for="" class="info-label">Age</label>
                                {{form.age}}
                            </div>

                            <div class="info-item">
                                <label for="" class="info-label">Phone Number</label>
                                {{form.phone_number}}
                            </div>

                            <div class="info-item">
                                <label for="" class="info-label">Email</label>
                                {{form.email}}
                            </div>
                            
                        </div>
                    </div>

                    <div class="bio-section">
                        <label for="" class="info-label">Bio</label>
                        {{form.bio}}
                    </div>

                    <div class="info-item file" id='file'>
                        <label>Note Image (optional)</label>
                        <div class="file-input-wrapper">
                            <button type="button" class="file-input-button">Choose Image</button>
                            {{form.profile_image}}
                        </div>
                        <span class="file-name" id="file-name">No file chosen</span>
                        
                        <div class="image-preview" id="image-preview">
                        <span class="image-preview-placeholder">Image preview will appear here</span>
                        </div>
                    </div>

                    <div class="action-buttons">
                        <button type="button" class="button edit-btn edit-profile-btn">
                            Edit Profile
                        </button>
                        <button type="button" class="button edit-btn edit-profile-btn cancle" style="display: none;">
                            Cancle
                        </button>
                        <button type="submit" class="button edit-btn save-profile-btn">
                            Save Profile
                        </button>
                    </div>
                

                </form>

                <div class="account-options">
                    <h3 class="account-options-title">Account Settings</h3>
                    <div class="account-links">

                        {% if user.is_authenticated %}
                            {% if user.emailaddress_set.first.verified %}

                                <a href="/accounts/social/connections/" class="account-link">social connections</a>

                                <a href="{% url "account_email" %}" class="account-link">Add email address</a>

                            {% else %}
                                <a href="{% url "account_reauthenticate" %}" class="account-link">Verify Email Address</a>
                            {% endif %}
                        {% endif %}

                        <a href="{% url "account_change_password" %}" class="account-link">Change Password</a>

                        <a href="{% url "confirm_account_delete" %}" class="account-link delete">Delete Account</a>
                    </div>
                </div>
            </section>
        </main>

{% endblock main %}
