
/* Main Content */
main{
    flex: 1;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.page-title {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.page-title:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--accent);
}

.signup-form {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px var(--shadow);
}


.notif-form {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px var(--shadow);
}

.form-group {
    margin-bottom: 1.5rem;
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--text-dark);
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text-dark);
    transition: border-color 0.3s;
}

.form-control:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgba(230, 184, 156, 0.2);
}

.textarea{
    resize: none;
    height: 200px;
}

.btn-primary {
    background-color: var(--accent);
    color: white;
    padding: 0.75rem 1.5rem;
    width: 100%;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #d9a37f;
}