{% csrf_token %}
{% if user.is_authenticated %}
    {% if not status %}
        <button class="vote-btn" type="submit" hx-post="{% url "like" comment.id %}"><i class="fa-regular fa-thumbs-up"></i> {{comment.liked_by.count}}</button>
        <button class="vote-btn" type="submit" hx-post="{% url "dislike" comment.id %}"><i class="fa-regular fa-thumbs-down"></i> {{comment.disliked_by.count}}</button> 
    {% elif status == 'liked'%}
        <button class="vote-btn" type="submit" hx-post="{% url "like" comment.id %}"><i class="fa-solid fa-thumbs-up"></i> {{comment.liked_by.count}}</button>
        <button class="vote-btn" type="submit" hx-post="{% url "dislike" comment.id %}"><i class="fa-regular fa-thumbs-down"></i> {{comment.disliked_by.count}}</button> 
    {% elif status == 'disliked'%}
        <button class="vote-btn" type="submit" hx-post="{% url "like" comment.id %}"><i class="fa-regular fa-thumbs-up"></i> {{comment.liked_by.count}}</button>
        <button class="vote-btn" type="submit" hx-post="{% url "dislike" comment.id %}"><i class="fa-solid fa-thumbs-down"></i> {{comment.disliked_by.count}}</button> 
    {% endif %}   
{% else %}
    <a class="hidden-anchor-tag vote-btn" href="{% url "account_login" %}"><i class="fa-regular fa-thumbs-up"></i> 10</a>
    <a class="hidden-anchor-tag vote-btn" href="{% url "account_login" %}"><i class="fa-regular fa-thumbs-down"></i> 2</a>
{% endif %}