{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "notes/all_notes/all_notes.css" %}">
  <script defer src="{% static "notes/all_notes/all_notes.js" %}"></script>
{% endblock head %}

{% block main %}
  <main>
    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <a href="{% url "home" %}">Home</a> &gt;
      <span>All Notes</span>
    </div>

    <!-- all Notes Section -->
    <section class="notes-section">
      <div class="notes-header">
        <div class="notes-heade-div">
          <h2 class="section-title">All Notes</h2>
          <p class="results-count">Showing {{all_notes.count}} notes</p>
        </div>
        <a href="{% url "create_note" %}" class="create-note-btn">
         + Create New Note
        </a>
      </div>

      <form action="{% url "all_notes" %}" method="get" class="search-filter-container">
        <div class="search-bar">
          <svg class="search-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <input name="search" type="text" placeholder="Search notes...">
        </div>
        <div class="filter-options">
          <select name="filter" class="filter-select">
            <option value="-created_at">Most Recent</option>
            <option value="views_count">Most Popular</option>
            <option value="title">A-Z</option>
            <option value="-title">Z-A</option>
          </select>

          <button type="submit" class="search-btn">Search</button>
        </div>
      </form>

     
      <!-- all all notes  -->

      <div class="notes-container">

        {% for note in all_notes  %}
          <div class="note-card">
            <img src="{{ note.note_image.url}}" alt="Note Image" class="note-img">
            <div class="note-content">
              <h3 class="note-title">{{note.title}}</h3>
              <div>
                {% for tag in note.tag.all|slice:":3" %}
                  <span class="category-tag">{{ tag.tag_name }}</span>
                {% endfor %}
              </div>
              <p class="note-desc">{{note.content|truncatechars:150}}</p>
              <div class="note-meta">
                <div class="user-info">
                  <img src="{{note.author.profile_image.url}}" alt="User Avatar" class="user-avatar">
                  <span>{{note.author.username}}</span>
                </div>
                <span>{{note.created_at}}</span>
              </div>
              <a href="{% url "view_note" note.id %}"  class="read-more">Read More</a>
            </div>
          </div>
        {% endfor %}

        </div>

      <!-- Pagination -->
      <div class="pagination">
        <button class="prev-next-btn">Previous</button>
        <button class="page-btn active">1</button>
        <button class="page-btn">2</button>
        <button class="page-btn">3</button>
        <button class="page-btn">4</button>
        <button class="page-btn">5</button>
        <button class="prev-next-btn">Next</button>
      </div>
    </section>
  </main>
{% endblock main %}
  