{% extends "base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "notes/my_notes/my_notes.css" %}">
  <script defer src="{% static "notes/my_notes/my_notes.js" %}"></script>
{% endblock head %}

{% block main %}
  <main>
    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <a href="{% url "home" %}">Home</a> &gt;
      <span>My Notes</span>
    </div>

    <!-- My Notes Section -->
    <section class="notes-section">
      <div class="notes-header">
        <div class="notes-heade-div">
          <h2 class="section-title">My Notes</h2>
          <p class="results-count">Showing 48 notes</p>
        </div>
        <a href="{% url "create_note" %}" class="create-note-btn">
         + Create New Note
        </a>
      </div>

      <div class="search-filter-container">
        <div class="filter-options">
          <select class="filter-select">
            <option value="recent">Most Recent</option>
            <option value="popular">Most Popular</option>
            <option value="a-z">A-Z</option>
            <option value="z-a">Z-A</option>
          </select>
        </div>
      </div>

     
      <!-- all my notes  -->

      <div class="notes-container">

        {% for note in my_notes  %}
          <div class="note-card">
            <img src="{{ note.note_image.url}}" alt="Note Image" class="note-img">
            <div class="note-content">
              <h3 class="note-title">{{note.title}}</h3>
              <div>
                {% for tag in note.tag.all|slice:":3" %}
                  <span class="category-tag">{{ tag.tag_name }}</span>
                {% endfor %}
              </div>
              <p class="note-desc">{{note.content|truncatechars:150}}</p>
              <div class="note-meta">
                <div class="user-info">
                  <img src="{{note.author.profile_image.url}}" alt="User Avatar" class="user-avatar">
                  <span>{{note.author.username}}</span>
                </div>
                <span>{{note.created_at}}</span>
              </div>
              <a href="{% url "view_note" note.id %}"  class="read-more">Read More</a>
            </div>
          </div>
        {% endfor %}

        </div>

      <!-- Pagination -->
      <div class="pagination">
        <button class="prev-next-btn">Previous</button>
        <button class="page-btn active">1</button>
        <button class="page-btn">2</button>
        <button class="page-btn">3</button>
        <button class="page-btn">4</button>
        <button class="page-btn">5</button>
        <button class="prev-next-btn">Next</button>
      </div>
    </section>
  </main>
{% endblock main %}
  