{% extends "base.html" %}

{% block head %}
  {% load static %}
  {% load humanize %}
  <link rel="stylesheet" href="{% static "notes/view_note/view_note.css" %}">
  <script defer src="{% static "notes/view_note/view_note.js" %}"></script>
{% endblock head %}

{% block main %}
  <main>
    <div class="note-container">
      <!-- Note Header -->
      <div class="note-header">
        <h1 class="note-title">{{note.title}}</h1>
        <div class="note-meta">
          <a class="hidden-anchor-tag" href="{% url "author_page" note.author.id %}">
          <div class="author-info">
              <img src="{{note.author.profile_image.url}}" alt="Author Avatar" class="author-avatar">
              <div class="author-details">
                <span class="author-name">{{note.author.first_name}} {{note.author.last_name}}</span>
                <span class="publication-date">Published on {{note.created_at}}</span>
              </div>
            
          </div>
          </a>
          {% if user.is_authenticated %}
            {% if user == note.author %}

              <div class="action-buttons">
                <a href="{% url "edit_note" note.id %}" class="edit-btn"> Edit Note </a>
                <button id="delete-btn" class="delete-btn">Delete Note</button>
              </div>

              <div class="delete-form">
                <div class="heading-pera">
                  <h1>Deleting Note: </h1>
                  <p>How to Master Time Management</p>
                </div>
                <div class="warning-pera">
                  <h3>Warning: </h3>
                  <p>Once deleted note can not be recoverd.</p>
                </div>
                
                <div class="btns">
                  <button class="cancel-btn">Cancel</button>
                  <form action="{% url "delete_note" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" value="{{ note.id }}">
                    <button  class="delete-btn" type="submit">Delete</button>
                  </form>
                </div>
              </div>
            {% else %}
              <div class="action-buttons">
                {% if liked %}
                  <form action="{% url "remove_like" note.id %}" method="post">
                    {% csrf_token %}
                    <button style="background-color:rgb(224, 20, 20); color:#ffffff"  class="like-btn active">
                      <span class="button-icon"><i class="fa-solid fa-heart"></i></span>
                    </button>
                  </form>
                {% else %}
                  <form action="{% url "like_note" note.id %}" method="post">
                    {% csrf_token %}
                    <button class="like-btn">
                      <span class="button-icon"><i class="fa-regular fa-heart"></i></span>
                    </button>
                  </form>
                {% endif %}

                {% if is_following %}
                  <form action="{% url "unfollow" note.author.id %}" method="post">
                    {% csrf_token %}
                    <button style="background-color: #4A4238" class="follow-btn">
                      <span class="button-icon">✓</span> Following
                    </button>
                  </form>
                {% else %}
                  <form action="{% url "follow" note.author.id %}" method="post">
                    {% csrf_token %}
                    <button class="follow-btn">
                      <span class="button-icon">+</span> Follow
                    </button>
                  </form>
                {% endif %}
                
                {% if note in user.bookmark.all %}
                <form action="{% url "remove_bookmark" note.id %}" method="post">
                  {% csrf_token %}
                  <button class="star-btn active">
                    <span class="button-icon">★</span> Bookmarked
                  </button>
                </form>
                {% else %}
                  <form action="{% url "bookmark" note.id %}" 
                        method="post">
                    {% csrf_token %}
                    <button class="star-btn">
                      <span class="button-icon">★</span> Add to Bookmark
                    </button>
                  </form>
                {% endif %}
                
              </div>
            {% endif %}
          {% else %}
          <div class="action-buttons">
            <a href="{% url 'account_login' %}" class="follow-btn">Sign in to Follow</a>
          </div>
          {% endif %}
        </div>
      </div>
      
      <img src="{{note.note_image.url}}" alt="Time Management" class="note-cover-img">
      
      <!-- Note Content -->
      <div class="note-body">
        {{ note.content|linebreaks }}
        
        <div class="note-footer">
          <div class="note-tags">
            {% for tag in note.tag.all %}
              <span class="tag">{{tag.tag_name}}</span>
            {% endfor %}
          </div>
          <div class="note-stats">
            <div class="note-stat">
              <i class="fas fa-eye"></i> {{note.views_count.count}}
            </div>
            <div class="note-stat">
              <i class="fas fa-heart"></i> {{note.liked.count}}
            </div>
          </div>
        </div>
      </div>

      <div class="comment-body">
        <h2>Comments</h2>

        {% if user.is_authenticated %}
          <div class="note-body comments make-comment">
            <img class="commenter-image" src="{{user.profile_image.url}}" alt="">
            <form hx-post="{% url 'add_comment' note.id %}"           
                  hx-target="#comment-results" 
                  hx-swap="innerHTML"
                  class="comment-right">
              {% csrf_token %}
              <input name="comment" placeholder="Type your comment...." autocomplete="off" type="text" required>
              <button type="submit" class="button submit">Submit</button>
            </form>
          </div>
        {% else %}
          <div class="note-body comments make-comment">
            <p style="margin-bottom:0rem"><i class="fa-solid fa-comment"></i> Please <a href="{% url "account_login" %}">login</a> to comment on this note.</p>
          </div>
        {% endif %}

        <div id="comment-results">
          {% include "notes/view_note_partials/comment.html" %}
        </div>
      </div>
    </div>
    
    <!-- Related Notes Section -->
    <section class="related-notes">
      <div class="note-container">
        <h2>Related Notes</h2>
        <div class="related-cards">
          <!-- Related Note 1 -->
          {% for related_note in related_notes %}
            <div class="note-card">
              <img src="{{related_note.note_image.url}}" alt="Note Image" class="note-img">
              <div class="note-content">
                <h3 class="note-title">{{related_note.title}}</h3>
                <p class="note-desc">{{related_note.content|truncatechars:150}}</p>
                <div class="note-meta">
                  <div class="user-info">
                    <img src="{{related_note.author.profile_image.url}}" alt="User Avatar" class="user-avatar">
                    <span>{{related_note.author.username }}</span>
                  </div>
                  <span>{{related_note.created_at}}</span>
                </div>
                <a href="{% url "view_note" related_note.id %}" class="read-more">Read More</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
  
{% endblock main %}