:root {
    --primary-bg: #f6f0f0;
    --secondary-bg: #f2e2b1;
    --accent: #e6b89c;
    --text-dark: #4a4238;
    --text-light: #6b5b4b;
    --shadow: rgba(0, 0, 0, 0.1);
    --card-bg: #ffffff;
    --error: #f75353;
}


/* Header section */
main {
    /* Border:2px solid red; */
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    width: 70vw;
    min-width: fit-content;
    background-color: var(--card-bg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--shadow);
    padding: 20px;
}

.center h1 {
    font-size: 1.5em;
    margin-bottom: 0.3rem;
}

.center p {
    margin-bottom: 1rem;
}

.form-group input{
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-dark);
  transition: border-color 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(230, 184, 156, 0.2);
}


.form-group {
    margin-bottom: 1.5rem;
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--text-dark);
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    font-size: 0.9rem;
}

.error-message {
    color: var(--error);
    font-size: 0.9rem;
    margin-top: 0.5rem;
    position: relative;
    left: 1rem;
}

.submit{
    width: fit-content;
    height: auto;
    margin-top: 1.5rem;
  
}

.button {
    padding: 0.50rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;
    background-color: var(--accent);
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--shadow);
    color: var(--card-bg);
}

footer{
    margin-top: min(50vh);
}




